{% extends 'layouts.html' %}
{% block contentA %}
<h1>Pavan</h1>
{% endblock contentA %}
{% block contentB %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
     
    <h1 class="display-4 fw-normal" style="color:red">FYND NextGreat Library</h1>
    <p class="lead fw-normal">Accelerate all aspects of capturing, organizing, sharing, and reusing information resources; create the single authoritative venue for knowledge assets, play nicely with others including SharePoint and Google, and support mobile users, anytime, anywhere, via any device</p>
    <a class="btn btn-outline-secondary" href="#">ENROLL AS A MEMBER</a>
  </div>
  <!-- <div class="product-device shadow-sm d-none d-md-block"></div> -->
  <!-- <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
</div>



 

</div>
{% endblock contentB %}
{% block contentC%}
{% endblock contentC %}

<script src="{{url_for('static',filename='main.js')}}"></script>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>